@media (max-width: 600px) {
    .foto-programador img {
      width: 0px;
      height: 0px;
    }
  
    .apresentacao {
      text-align: center;
      margin-top: 20px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 525px) {
    .cabecalho {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  
    nav ul li {
      display: block;
      margin-top: 10px;
    }
  
    .sobre-mim p {
      font-size: 1em;
    }
  
    .projeto-pai {
      grid-template-rows: repeat(2, 230px);
    }
  
    .responsividade,
    .sites {
      width: 60%;
      height: 60%;
      @media (max-width: 600px) {
  .foto-programador img {
    width: 0px;
    height: 0px;
  }

  .apresentacao {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
  }
}

@media (max-width: 525px) {
  .cabecalho {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
  }

  .sobre-mim p {
    font-size: 1em;
  }

  .projeto-pai {
    grid-template-rows: repeat(2, 230px);
  }

  .responsividade,
  .sites {
    width: 60%;
    height: 60%;
  }

  .social-col{
    margin-right: 20px;
  }
}
    }
  
    .social-col{
      margin-right: 20px;
    }
  }